.outer {
    background: rgb(196, 255, 94);
    background: linear-gradient(90deg, rgba(196, 255, 94, 0.20073967086834732) 0%, rgba(119, 255, 142, 0.08) 35%, rgba(126, 255, 120, 0.1643251050420168) 100%);
    width: 100%;
    margin-bottom: 5rem;
}

.inner {
    display: flex;
    padding: 50px;
}

.form-title {
    color: var(--gray-1, #333);
    text-align: center;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    padding-top: 2rem;
    margin-bottom: 64px;
}

.form-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-element {
    border-radius: 10px;
    background: #FFF;
    padding: 50px;
    box-shadow: 0px 0px 25px 0px rgba(17, 24, 39, 0.18);
    min-width: 400px;
}

.form-img-element {
    max-width: 100%;
    width: 300px;
    max-height: 100%;
}

.form-dropdown {
    width: 100%;
    border-color: rgba(211, 211, 211, 0.593);
}

.form-btn-div {
    text-align: right;
}

.form-btn {
    border: none;
    border-radius: 5px;
    background: #09B451;
    padding: 10px 60px;
}

.form-btn:hover {
    background: #05c153;
}

.placeholder-text {
    font-size: 12px;
    padding: 15px !important;
}

.in-form-title {
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 768px) {

    .form-img-element {
        width: 200px;
    }

    .form-img {
        padding-bottom: 50px;
    }

    .inner {
        padding-bottom: 60px;
    }

    .form-title {
        font-size: 20px;
        padding-top: 0;
        margin-bottom: 40px;
    }

    .outer {
        background: linear-gradient(90deg, rgba(196, 255, 94, 0.20073967086834732) 0%, rgba(119, 255, 141, 0.1643251050420168) 35%, rgba(126, 255, 120, 0.1643251050420168) 100%);
        width: 100%;
    }

    .in-form-title{
        font-size: 1.1rem;
    }
}