.category-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 20px;
}

.category-main-text {
    color: var(--gray-1, #333);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-mini-text {
    color: var(--gray-1, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.category-content {
    /* padding: 20px 50px; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.item {
    position: relative;
    margin: 0 10px;
}

.item img {
    border-radius: 5px;
    max-width: 100%;
    /* Ensure the image doesn't exceed its container's width */
    height: auto;
}

.item-title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    letter-spacing: 1px;
    padding-left: 24px;
}

.hover-one,
.hover-two {
    background-color: #FFFFFF;
    color: #09B451;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.hover-one {
    position: absolute;
    top: 45%;
    left: 10px;
}

.hover-two {
    position: absolute;
    top: 45%;
    right: 10px;
}

.hover-one:hover,
.hover-two:hover {
    background-color: rgba(0, 0, 0, 0.4);

}

@media (max-width: 992px) {
    .item-title {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .category-main-text {
        font-size: 16px;
    }

    .category-mini-text {
        font-size: 12px;
    }

    .item-title {
        font-size: 10px;
    }

    .hover-one,
    .hover-two {
        display: none;
    }
    
    .item-title {
        top: 50%;
        bottom: auto;
        padding-left: 10px;
    }

    .category-heading{
        margin-top: 50px;
    }

    .category-content{
        margin-bottom: 50px;
    }

}